---
import PageHeading from "../components/PageHeading.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Per-Ragar Lindfors - About me" nav="about">
	<main>
		<section>
			<PageHeading>About me</PageHeading>
			<p>I'm a senior frontend architect working at Tietoevry, anim mollit in et deserunt. Pariatur anim consequat nostrud quis irure. Non culpa culpa non et sit occaecat elit adipisicing in amet nisi sit reprehenderit officia. Occaecat esse adipisicing nostrud et ex pariatur veniam.</p>
			<p>Labore sint sunt amet ipsum. Ut adipisicing aute laboris duis do consequat. Nostrud consequat magna aliquip ea cillum eiusmod. Quis esse sit in duis. Do aliquip sit laboris veniam sit aliquip ullamco anim velit consequat. Elit mollit culpa duis minim sint nisi nostrud laboris magna aliqua officia tempor culpa.</p>
		</section>
	</main>
</Layout>
