---
import PageHeading from "../components/PageHeading.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Per-Ragnar Lindfors" nav="home">
	<PageHeading isStart>Hi, I'm Per-Ragnar</PageHeading>
	<h2 class="text-2xl font-bold mb-6">
		Senior frontend architect at
		<a href="https://tietoevry.com/" target="_blank">Tietoevry</a>
	</h2>
	<p class="max-w-lg">
		I thrive working with styleguide driven development in a fast paced
		environment where I constantly get challenged.
	</p>
</Layout>
