---
import Logo from "./Logo.astro";
import SoMe from "./SoMe.astro"
---

<footer class="mt-auto pt-24">
	<hr class="border-slate-600" />
	<div class="flex justify-end py-14">
		<SoMe />
	</div>
</footer>
