<a href="/" class="logo-footer font-extrabold text-4xl">PRL</a>

<style>
	.logo-footer {
		color: #f5ed93;
		background-image: -webkit-linear-gradient(
			135deg,
			#f5ed93 0%,
			#ffc9f9 100%
		);
		background-clip: text;
		-webkit-background-clip: text;
		text-fill-color: transparent;
		-webkit-text-fill-color: transparent;
	}
	.logo-footer:hover {
		color: #f5ed93;
		text-fill-color: unset;
		-webkit-text-fill-color: unset;
	}
</style>
