---
export interface Props {
	isStart?: boolean
}

const { isStart = false } = Astro.props
---

<h1
	class:list={[
		"text-6xl leading-[1.125] font-bold tracking-wide",
		isStart ? "mb-20" : "mb-8",
	]}
>
	<slot />
</h1>
