---
import "@fontsource/barlow/900.css"
import "@fontsource/barlow/700.css"
import "@fontsource/barlow/500.css"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

export interface Props {
	title: string
	nav: "home" | "about" | "blog"
}

const { title, nav } = Astro.props
---

<!DOCTYPE html>
<html lang="sv">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="bg-midnight text-slate-300 text-xl max-w-3xl mx-auto pt-12 h-screen flex flex-col"
	>
		<a
			href="#main"
			class="absolute top-0 py-3 -translate-y-20 focus:-translate-y-0 focus:transition-transform"
			>Skip to content</a
		>
		<Header nav={nav} />
		<main id="main">
			<slot />
		</main>
		<Footer />
		<style is:global>
			html {
				font-family: "Barlow", sans-serif;
			}
			::selection {
				@apply bg-yellow-100 text-midnight;
			}
			a {
				@apply text-yellow-100;
			}
			a:hover,
			a:focus,
			a:active {
				text-decoration: wavy underline;
				text-underline-offset: 4px;
				transition-property: color, background-color, border-color,
					text-decoration-color, fill, stroke;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
				transition-duration: 150ms;
			}
			p {
				@apply mb-6 leading-9;
			}
		</style>
	</body>
</html>
