---
export interface Props {
	href: string
	active?: boolean
}

const { href, active } = Astro.props
---

<a
	class:list={[
		"text-lg text-slate-300 font-bold tracking-widest uppercase hover:underline-offset-[10px] hover:text-yellow-100 transition-colors",
		active && "text-yellow-100",
	]}
	href={`/me-astro/${href}`}
>
	<slot />
</a>
